.content
  .contentPanel.about{ data: {bgColor: '#F6F8EE'} } 
    = render 'about'
  .contentPanel.reverie{ data: {bgColor: '#D6E68A'} } 
    = render 'reverie'
  .contentPanel.passion{ data: {bgColor: '#95AA61'} } 
    = render 'passion'
  .contentPanel.craft{ data: {bgColor: '#899752'} } 
    = render 'craft'
  .contentPanel.contact{ data: {bgColor: '#525A31'} } 
    = render 'contact'